<div fxLayout="row">
  <mat-card fxFlex="30">
    <div class="ngx-dnd-container" ngxDroppable [model]="blockList$ | async" (drop)="saveList($event)">
      <div
        fxLayout="column"
        fxLayoutGap="12px"
        fxLayoutAlign="space-around"
        class="ngx-dnd-item"
        ngxDraggable
        [model]="item"
        [moves]="moves"
        *ngFor="let item of blockList$ | async">
        <app-inline-host [ngxComponentOutlet]="item.component"
                         [data]="item.data"
                         [order]="item.order"
                         (moves)="setMoves($event)"
                         (edited)="updateList(item, $event)"
                         (destroy)="destroyBlock(item.id)"
        ></app-inline-host>
      </div>
    </div>
  </mat-card>
  <mat-card fxFlex="70">
    <div fxLayout="column">
      <div fxLayout="row">
        <button mat-raised-button (click)="addBlock(blockType)">
          Добавить блок
        </button>
      </div>
      <mat-radio-group [(ngModel)]="blockType">
        <mat-radio-button [value]="BlockType.TEXT">Текст</mat-radio-button>
        <mat-radio-button [value]="BlockType.IMAGE">Изображение</mat-radio-button>
        <mat-radio-button [value]="BlockType.VIDEO">Видео</mat-radio-button>
      </mat-radio-group>
    </div>
    <pre [innerText]="getJson()"></pre>
  </mat-card>
</div>
